{% extends 'szablon.html' %}

{% block tresc %}

    {% block naglowek %}Mały Bar Pizza{% endblock naglowek %}

        <form action="." method="POST">
            {% csrf_token %}
        <input type="text" name="nazwa" size="30" maxlength="30">
        <br>
        <input type="text" name="opis" size="140" maxlength="6">
        <br>
        <input type="submit" value="Zapisz">
    </form>

<h2>Lista miast</h2>
<ol>
    {% for miasto in miasta %}
        <li>{{ miasto.nazwa }}&nbsp;{{ miasto.kod }}</li>
    {% endfor %}
</ol
    {% endblock tresc %}


